# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Expo
.expo/
.expo-shared/

# Environment
.env
.env*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Devbox
.devbox-worktrees
